<div class="container">
    <h1>Asciify-ascii art</h1>
    
    <div class="form-group">
        <form action="/asciify/show">
            
            <div class="form-group row">
                <div class="col-1">
                    <label for="content">내용</label>
                </div>
                <div class="col-7">
                    <input type="text" class="form-control" name="content" placeholder="변환할 문자열을 입력해 주세요.">
                </div>
                <select name="font"  class="custom-select co1-3">
                    <option value="standard">standard</option>
                    <option value="big">big</option>
                    <option value="thin">thin</option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-outline-primary"> 변환 </button>
        </form>
    </div>
</div>